.header

.indexmain
  .tasktitle
    Tasklist
  .taskmain
    .taskarea
      = link_to 'Creat new task', new_task_path ,class: 'btn btn-info'
      %table.table
        %thead
          %tr
            %th Task
            %th Edit
            %th Delete
        %tbody
          - @tasks.each do |task|
            %tr
              %td= task.title
              %td= link_to '編集', edit_task_path(task) ,class: 'btn-success'
              %td= link_to '削除', task_path(task), method: :delete, class: 'btn-danger'
    .calender
      %iframe{:frameborder => "0", :height => "500", :scrolling => "no", :src => "https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTokyo&src=NTloOWdqMWdpbWRnNnVoYW5vZmNna2s2azhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%237CB342&showPrint=0&showTz=0", :style => "border-width:0", :width => "450"}


.footer